<header class="site-header">
    <div class="container">
      <div class="float-left">
        {{#if @blog.logo}}
          <h1 class="site-title"><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a></h1>
        {{else}}
          <h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        {{/if}}
      </div>

      <div class="float-right">
        {{navigation}}
      </div>

        {{#if @labs.subscribers}}
          <div class="float-right">
              <ul class="right-menu">
                <li>
                    <a class="subscribe" href="{{@blog.url}}/subscribe/">Subscribe</a>
                </li>
              </ul>
          </div>
        {{/if}}
    </div>
</header>
